
<app-menu marcarasistencia="false" administrarperfil="true">

</app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>RegistrApp</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <div class="ion-text-center ion-padding">
    <ion-label class="titulo">Perfil de usuario</ion-label>
  </div>

  <div class="ion-padding">
    <ion-img class="fondo" src="assets/account.png"></ion-img>
  </div>

  <ion-item>
    <ion-label position="fixed">e-mail</ion-label>
    <ion-input color="medium" disabled="true">{{ mdl_email }}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Nombre</ion-label>
    <ion-input color="medium" disabled="true">{{ mdl_nombre }}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Apellidos</ion-label>
    <ion-input color="medium" disabled="true">{{ mdl_apellidos }}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input (keyup)="habilitarBoton()" type="password" [(ngModel)]="mdl_password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Repite nueva contraseña</ion-label>
    <ion-input (keyup)="habilitarBoton()" type="password" [(ngModel)]="mdl_passwordrepetida"></ion-input>
  </ion-item>

  <div class="ion-text-center ion-padding-top">
    <ion-button [disabled]="mdl_deshabilitarboton" (click)="cambiarContrasena()" expand="block" class="degradado">
      <ion-icon name="document-lock-sharp" slot="start"></ion-icon>
      Cambiar contraseña
    </ion-button>
  </div>

</ion-content>

</div>