
<ion-header>
  <ion-toolbar class="degradado">
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding">
    <ion-label class="titulo">Asistencia DuocUC</ion-label>
  </div>

  <div class="ion-padding">
    <ion-img class="fondo" src="assets/calendar.png"></ion-img>
  </div>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input autofocus="true" (keyup)="habilitarBoton()" [(ngModel)]="mdl_login"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input (keyup)="habilitarBoton()" type="password" [(ngModel)]="mdl_pass"></ion-input>
  </ion-item>

  <div class="ion-text-center ion-padding-top">
    <ion-button [disabled]="mdl_deshabilitarbotoningresar" (click)="ingresar()" expand="block" class="degradado">
      <ion-icon name="log-in" slot="start"></ion-icon>
      Ingresar
    </ion-button>
  </div>

  <div class="ion-text-center ion-padding-top">
    <ion-router-link class="link" href="recuperar">Olvidé mi contraseña</ion-router-link>
  </div>

</ion-content>
