<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-img class="fondo" src="assets/pin-code.png"></ion-img>
  </div>

  <ion-card>
    <ion-card-content>
      <p><span>&#8226;</span> Ingresa tu correo DuocUC y presiona el botón "Siguiente".</p>
      <p><span>&#8226;</span> En breve te enviaremos un código de 4 dígitos que te permitirá cambiar tu contraseña.</p>
      <p><span>&#8226;</span> Recuerda revisar siempre la carpeta de spam.</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="floating">correo DuocUC</ion-label>
    <ion-input autofocus="true" (keyup)="habilitarBoton()" [(ngModel)]="mdl_email"></ion-input>
  </ion-item>

  <div class="ion-text-center ion-padding-top">
    <ion-button inputmode="email" [disabled]="mdl_deshabilitarboton" (click)="siguiente()" expand="block" class="degradado">
      <ion-icon name="arrow-redo-outline" slot="start"></ion-icon>
      Siguiente
    </ion-button>
  </div>

</ion-content>
